.maps {
  position: relative;
  transform: translate(9%, 0);
  align-items: center;
  text-align: center;
  width: 100vw;
}
@media (max-width: 1366px) {
    .maps {
      position: relative;
      align-items: center;
      text-align: center;
      width: 100vw;
    }
  }
  

@media (max-width: 1024px) {
  .maps {
    position: relative;
    transform: translate(9%, 0);
    align-items: center;
    text-align: center;
    width: 100vw;
  }
}

@media (max-width: 500px) {
    .maps {
      position: relative;
      transform: translate(5%, 0);
      align-items: center;
      text-align: center;
      width: 100vw;
    }
  }
